In [11]:
from influxdb import InfluxDBClient
import pandas
client = InfluxDBClient('localhost', 8086, 'root', 'root', 'Savina')

In [12]:
data = client.query('select * from GateWay02 where "tag" = \'I2:Total_Energy\'').get_points()

In [13]:
df = pandas.DataFrame(data)

In [14]:
df

,time,day,hour,month,tag,value,year
0,2020-06-05T04:12:34.002027Z,5,11,6,I2:Total_Energy,639799.50,2020
1,2020-06-05T04:12:39.065128Z,5,11,6,I2:Total_Energy,639799.50,2020
2,2020-06-05T04:12:44.115754Z,5,11,6,I2:Total_Energy,639799.50,2020
3,2020-06-05T04:12:49.027643Z,5,11,6,I2:Total_Energy,639799.50,2020
4,2020-06-05T04:12:54.148456Z,5,11,6,I2:Total_Energy,639799.50,2020
...,...,...,...,...,...,...,...
2955,2020-06-05T10:12:54.725376Z,5,17,6,I2:Total_Energy,797999.01,2020
2956,2020-06-05T10:12:59.732728Z,5,17,6,I2:Total_Energy,797999.01,2020
2957,2020-06-05T10:13:04.747029Z,5,17,6,I2:Total_Energy,797999.01,2020
2958,2020-06-05T10:13:09.754668Z,5,17,6,I2:Total_Energy,797999.01,2020
2959,2020-06-05T10:13:14.789855Z,5,17,6,I2:Total_Energy,797999.01,2020